/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

//
//  @use "uswds-core" with (
//    $setting: value,
//    $setting: value
//  );
//

// $volpeBlue: "#0071ce";
// $volpeNavyBlue: "#0d1a40";
// $volpeTeal: "#00aaa3";
// $volpeSage: "#87cba0";
// $volpeOrange: "#f36e23";
// $volpeLightSage: "#bcda87";
// $volpeYellow: "#fec00f";
// $volpeRed: "#ee3444";
// $volpeGold: "#c49e27";
// $volpeParchment: "#f3efde";


@use "uswds-core" with (
    $theme-show-notifications: false,
    $theme-banner-background-color: 'base-darkest',
    $theme-identifier-background-color: 'blue-80v'
)
