Django==5.2.1
requests==2.32.3
psycopg[binary]==3.2.9
tzdata==2025.2
markdown==3.8
djangorestframework==3.16.1
djangorestframework-gis==1.1
django-filter==25.1
Pygments==2.19.1
humanize==4.12.3
jsonschema==4.25.1
semver==3.0.4
iso8601==2.1.0
docutils==0.21.2
django-localflavor==5.0
gunicorn==23.0.0
uvicorn==0.37.0
uvicorn-worker==0.3.0
django-tables2==2.7.5
django-admin-interface==0.30.0
Pillow==11.2.1
