Django==4.2.20
requests==2.32.3
psycopg[binary]==3.2.6
tzdata==2025.2
markdown==3.7
djangorestframework==3.15.2
djangorestframework-gis==1.1
django-filter==24.3
Pygments==2.19.1
django-leaflet==0.31.0
humanize==4.12.2
jsonschema==4.23.0
semver==3.0.4
iso8601==2.1.0
docutils==0.21.2
django-localflavor==4.0
gunicorn==23.0.0
uvicorn==0.34.0
uvicorn-worker==0.3.0
django-tables2==2.7.5
django-admin-interface==0.30.0
