{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}
    Archive
{% endblock title %}
{% block head %}
    <script>
        function processDates() {
            document.getElementById("{{ filter.form.datetime_archived.auto_id }}_0").value = document.getElementById("{{ filter.form.datetime_archived.auto_id }}_0").value.replaceAll("/", "-")
            document.getElementById("{{ filter.form.datetime_archived.auto_id }}_1").value = document.getElementById("{{ filter.form.datetime_archived.auto_id }}_1").value.replaceAll("/", "-")
            return true;
        }
    </script>
{% endblock head %}
{% block content %}
    <div class="usa-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <main class="grid-col" id="main-content">
                    <h1>WZDx Feed Archive</h1>
                    <p>
                        Feeds are archived approximately once every 12 hours. For a historical record going back to 2019, please view the
                        <a href="https://usdot-its-workzone-publicdata.s3.amazonaws.com/index.html"
                           class="usa-link usa-link--external">U.S. DOT ITS Work Zone Sandbox</a>.
                    </p>
                    {% if filter %}
                        <form method="get" class="usa-form" onsubmit="processDates();">
                            {% with field=filter.form.feed %}
                                <label class="usa-label" for="{{ field.auto_id }}">Filter by {{ field.label }}</label>
                                <div class="usa-combo-box">{{ field }}</div>
                            {% endwith %}
                            {% with field=filter.form.datetime_archived %}
                                {% comment %} <label class="usa-label" for="{{ field.auto_id }}">Filter by {{ field.label }}</label>
                                <div class="usa-combo-box">{{ field }}</div> {% endcomment %}
                                <div class="usa-date-range-picker">
                                    <div class="usa-form-group">
                                        <label class="usa-label"
                                               id="{{ field.auto_id }}_0_label"
                                               for="{{ field.auto_id }}_0">Filter by {{ field.label }} (from)</label>
                                        <div class="usa-hint" id="{{ field.auto_id }}_0_hint">mm/dd/yyyy</div>
                                        <div class="usa-date-picker">
                                            <input class="usa-input"
                                                   id="{{ field.auto_id }}_0"
                                                   name="{{ field.auto_id }}_0"
                                                   aria-labelledby="{{ field.auto_id }}_0_label"
                                                   aria-describedby="{{ field.auto_id }}_0_hint" />
                                        </div>
                                    </div>
                                    <div class="usa-form-group">
                                        <label class="usa-label"
                                               id="{{ field.auto_id }}_1_label"
                                               for="{{ field.auto_id }}_1">Filter by {{ field.label }} (to)</label>
                                        <div class="usa-hint" id="{{ field.auto_id }}_1_hint">mm/dd/yyyy</div>
                                        <div class="usa-date-picker">
                                            <input class="usa-input"
                                                   id="{{ field.auto_id }}_1"
                                                   name="{{ field.auto_id }}_1"
                                                   aria-labelledby="{{ field.auto_id }}_1_label"
                                                   aria-describedby="{{ field.auto_id }}_1_hint" />
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                            <input type="submit" class="usa-button" />
                        </form>
                    {% endif %}
                    {% render_table table %}
                </main>
            </div>
        </div>
    </div>
{% endblock content %}
