{% load static %}

<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text"
          ><a href="/" title="<Project title>">WZDx Dashboard</a></em
        >
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button type="button" class="usa-nav__close">
        <img src="{% static '/uswds/img/usa-icons/close.svg' %}" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a href="/feeds/" class="usa-nav-link{% if '/feeds/' in request.path %} usa-current{%endif%}"
            ><span>Home</span></a
          >
        </li>
        <li class="usa-nav__primary-item">
          <a href="/docs/" class="usa-nav-link{% if '/docs/' in request.path %} usa-current{%endif%}"
            ><span>Docs</span></a
          >
        </li>
        <li class="usa-nav__primary-item">
          <a href="/admin/" class="usa-nav-link {% if '/admin/' in request.path %} usa-current{%endif%}"
            ><span>Admin</span></a
          >
        </li>
      </ul>
      {% if form %}
        <section aria-label="Search component">
          {{ form }}
        </section>
      {% endif %}
    </nav>
  </div>
</header>