{% load static %}
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo">
                <em class="usa-logo__text"><a href="{% url "root" %}" title="WZDx Dashboard">WZDx Dashboard</a></em>
            </div>
            <button type="button" class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
            <button type="button" class="usa-nav__close">
                <img src="{% static '/uswds/img/usa-icons/close.svg' %}"
                     role="img"
                     alt="Close" />
            </button>
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <a href="{% url 'feed-list' %}"
                       class="usa-nav-link{% if '/feeds/' in request.path %} usa-current{% endif %}"><span>Home</span></a>
                </li>
                <li class="usa-nav__primary-item">
                    <a href="{% url 'docs-redirect' %}"
                       class="usa-nav-link{% if '/docs/' in request.path %} usa-current{% endif %}"><span>Docs</span></a>
                </li>
                <li class="usa-nav__primary-item">
                    <a href="{% url 'archive-list' %}"
                       class="usa-nav-link{% if '/archive/' in request.path %} usa-current{% endif %}"><span>Archive</span></a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li class="usa-nav__primary-item">
                            <a href="{% url 'admin:index' %}"
                               class="usa-nav-link {% if '/admin/' in request.path %}usa-current{% endif %}"><span>Admin</span></a>
                        </li>
                    {% endif %}
                    <li class="usa-nav__primary-item">
                        <a href="{% url 'logout' %}"
                           class="usa-nav-link {% if '/accounts/logout/' in request.path %}usa-current{% endif %}"><span>Logout</span></a>
                    </li>
                {% else %}
                    <li class="usa-nav__primary-item">
                        <a href="{% url 'login' %}"
                           class="usa-nav-link {% if '/accounts/login/' in request.path %}usa-current{% endif %}"><span>Login</span></a>
                    </li>
                {% endif %}
            </ul>
            {% if search_form %}
                <section aria-label="Search component">
                    {{ search_form }}
                </section>
            {% endif %}
        </nav>
    </div>
</header>
