{% extends "base.html" %}
{% load humanize %}
{% load humanize_extra %}
{% load static %}
{% load leaflet_tags %}
{% block title %}
    Home
{% endblock title %}
{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="{% static 'dashboard/map_list.js' %}"></script>
    <script>
        function map_init_events(map, options) {
          return map_events(map, options, {% autoescape off %}{{feeds_pk}}{% endautoescape %})
        }
    </script>
{% endblock head %}
{% block content %}
    <div class="usa-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <main class="desktop:grid-col flex-8" id="main-content">
                    <div class="overflow-x-auto" tabindex="0">
                        <table class="usa-table usa-table--borderless usa-table--compact width-full">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Issuing Organization</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Status Since</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for feed in feeds %}
                                    <tr>
                                        <td>
                                            {% if feed.state %}
                                                {{ feed.state }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'feed-detail' feed.pk %}" class="usa-link">{{ feed.issuingorganization }}</a>
                                        </td>
                                        <td class="{% if feed.feed_status.is_error %}text-red{% else %}text-green{% endif %}">
                                            {{ feed.feed_status.status_type.label|upper }}
                                        </td>
                                        <td>{{ feed.feed_status.status_since|naturaltime }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </main>
                <div class="display-none desktop:display-flex desktop:grid-col flex-4 flex-column">
                    <div class="flex-fill">{% leaflet_map "points_map_desktop" callback="window.map_init_points" %}</div>
                    {% comment %} <div class="flex-fill">{% leaflet_map "event_details_desktop" callback="window.map_init_events" %}</div> {% endcomment %}
                </div>
            </div>
            {% if is_paginated %}
                {% include "components/pagination.html" %}
            {% endif %}
            <div class="desktop:display-none height-mobile">
                {% leaflet_map "points_map_mobile" callback="window.map_init_points" %}
            </div>
            {% comment %} <div class="desktop:display-none height-mobile">
                {% leaflet_map "event_details_mobile" callback="window.map_init_events" %}
            </div> {% endcomment %}
        </div>
    </div>
{% endblock content %}
