{% extends 'base.html' %}

{% load humanize %}

{% load humanize_extra %}

{% load static %}

{% load leaflet_tags %}

{% block title %}Home{% endblock %}

{% block head%}
    {% leaflet_js %}
    {% leaflet_css %}

    <script>
        function map_init(map, options) {
            
            const mapBounds = L.latLngBounds([
                [37.09024, -125.001650],
                [49.384358, -66.934570]
            ]);
            map.fitBounds(mapBounds);
          
            const layerGroup = L.layerGroup().addTo(map);
          
            async function load_points() {
              const points_url = `/api/points/?in_bbox=${map
                .getBounds()
                .toBBoxString()}`;
              const response = await fetch(points_url);
              const geojson = await response.json();
              return geojson;
            }
          
            async function render_points() {
              const points = await load_points();
              layerGroup.clearLayers();
              L.geoJSON(points)
                .bindPopup((layer) => layer.feature.properties.issuingorganization)
                .addTo(layerGroup);
            }
          
            map.on("moveend", render_points);
          }      
    </script>
{% endblock%}

{% block pagecontent %}
<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <main
                class="desktop:grid-col flex-8" id="main-content"
            >
                <div class="overflow-x-auto">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th scope="col">State</th>
                                <th scope="col">Issuing Organization</th>
                                <th scope="col">Status</th>
                                <th scope="col">Detailed Status</th>
                                <th scope="col">Status Since</th>
                                <th scope="col">Update Frequency</th>
                                <th scope="col">Version</th>
                                <th scope="col">Last Pulled</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feed in page_obj %}
                                <tr>
                                    <td>{%if feed.state %}{{ feed.state }}{%else%}N/A{%endif%}</td>
                                    <td>{{ feed.issuingorganization }}</td>
                                    <td class="{% if feed.feed_status.status_type == "OK" %}text-green{% else %}text-red{% endif %}">{{ feed.feed_status.status_type.label|upper }}</td>
                                    <td>{{ feed.feed_status.details }}</td>
                                    <td>{{ feed.feed_status.status_since|naturaltime }}</td>
                                    <td>{{ feed.datafeed_frequency_update|precisedelta }}</td>
                                    <td>{{ feed.version }}</td>
                                    <td>{{ feed.last_checked|naturaltime }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated%}
                    {% include 'components/pagination.html' %}
                {% endif %}
            </main>
            <div class="display-none desktop:display-block desktop:grid-col flex-4">
                {% leaflet_map "feed_map_desktop" callback="window.map_init" %}
            </div>
        </div>
        <div class="desktop:display-none height-mobile">
            {% leaflet_map "feed_map_mobile" callback="window.map_init" %}
        </div>
    </div>
</div>
{% endblock %}