{% load static %}

<form class="usa-search usa-search--small" id="search_feeds" role="search">
  {% comment %} {% csrf_token %} {% endcomment %}
    {% for field in form %}
        <label class="usa-sr-only" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
    {% endfor %}
  <button class="usa-button" type="submit">
    <img
      src="{% static '/uswds/img/usa-icons-bg/navigate_next--white.svg' %}"
      class="usa-search__submit-icon"
      alt="Search"
    />
  </button>
</form>
<script>
  function goToFeedPage(event) {
    let form = document.getElementById("search_feeds");
    let select = form.querySelector("select");
    let value = select.value
    console.log(value)
    
    window.location.href = "/feeds/" + value;
    event.preventDefault();
  }

  const form = document.getElementById("search_feeds");
  form.addEventListener("submit", goToFeedPage);
</script>